*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;
}

header{
    margin: 47px auto 100px 42px;
}

.link-header:hover{
    opacity: 0.8;
}

.link-header:active{
    opacity: 0.4;
}

.button-header:hover{
    opacity: 0.8;
}

.button-header:active{
    opacity: 0.4;
}

.link-header{
    font-weight: 400px;
    margin-right: 32px;
    color: #17233D;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    cursor: pointer;
}
.button-header{
    background: #6FBF44;
    border:1px solid #4CB538;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

img{
    display: inline-block;
    width: 500px;
    height: auto;
    margin-left: 90px;
    margin-bottom: 102px;
    vertical-align: top;
}

div{
    display: inline-block;
    margin-left: 84px;
    margin-top: 85px;
    margin-bottom: 114px;
    vertical-align: top;
}

h1 {
    width: 489px;
    height: 138px;
    font-weight: 700px;
    font-size: 52px;
    line-height: 69px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p {
    margin-top: 39px;
    margin-bottom: 46px;
    width: 414px;
    height: 83px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

a {
    font-weight: 500px;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6FBF44;
    text-decoration: none;
}

@media screen and (max-width: 390px) {
    
    * {
        margin: 0;
        padding: 0;
    }

    header {
         margin: 20px 0;
    }
    
    .link-header {
      display: none;
    }

    .button-header {
        width: 91px;
        height: 31px;
        margin: 17px 15px 0 auto;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
        display: block;
    }

    /* Removemos as heranças do computador e centralizamos */
    div {
        display: block;
        text-align: center;
        margin: 76px 15px 59px 15px; 
    }

    /* 🚀 APAGADA A MARGEM DE 56px QUE JOGAVA O TÍTULO PRA FORA */
    h1 {
        width: 100%;
        max-width: 320px;
        height: auto; /* Deixa o texto quebrar linha livremente */
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.6px;
        margin: 0 auto 29px auto; /* Centraliza sozinho */
    }

    
    p {
        width: 100%;
        max-width: 304px;
        height: auto; 
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        margin: 0 auto; 
    }

    a {
        display: block;
        margin: 26px auto 59px auto;
    }

    img {
        width: 312px;
        height: 288px;
        margin: auto 39px auto 22px;

    }
}